<template name='channelRemove'>

  <div class='page-header view-header'>
    <div class='page-header__left left-menu-toggle'>
      <i class='fa fa-bars'></i>
    </div>
    <div class='page-header__center'>
      Remove Chat
    </div>
  </div>

  <div class='view__inner with-margin'>

    <div class='center-form'>
      <ul class='nested-list'>
        <li>
          <input type='text' placeholder='Chat Slug' class='center-form__input chat__name' />
        </li>
      </ul>

      <div class='center-form__submit'><div>Remove</div></div>
    </div>

  </div>

</template>
