// colors
blue-color = #17ADC6
red-color = #e74c3c
orange = #E7842D
orange-lightest = #E7842D + 90%
orange-darker-color = orange - 10%
green-color = #2ecc71

muted-color = #9B9B8C
muted-less-color = #686859
muted-more-color = #BDBDAE
muted-most-color = lightness muted-more-color, 70%
body-bg-color = #FFF
content-bg-color = #f5f6f6
content-bg-color-darker = darkness content-bg-color, 20%
content-bg-color-darkest = #EEE
action-color = orange
active-color = #00B259
active-color-darker = darkness active-color, 10%
negative-color = #C0081A
negative-color-darker = darkness negative-color, 10%


// layout
page-header-height = 6.3rem
submenu-height = 2.6rem
bottom-bar-height = 4.6rem
top-menu-height = 3rem
bottom-form-height = 4.3rem
left-menu-width = 20rem


// posts
