@import "a_variables";

.about-panes
  z-index 1001

.about
  position absolute
  text-align center
  left 0
  right 0
  top 50%
  margin-top -13rem
.about__image
  display block
  margin auto
  background #17ADC6
  display inline-block
  overflow hidden
  border-radius 50%
  position relative
  box-shadow 0 0 3px rgba(0, 0, 0, 0.3)
  height 13rem
  width 13rem
  font-size 6rem
  color #FFF
  img
    width 13rem
    height 13rem
    display block
  i
    margin-top 4rem
    opacity 0.8
.about__image-bg
  border-radius 50%
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  border 0.6rem solid rgba(255,255,255,0.5)
.about__image--smaller
  padding 1.5rem
  img
    width 10rem
    height 10rem
.about__image--square
  border-radius 0.3rem
  height auto
  width 26rem
  margin-top -0.5rem
  img
    height auto
    width 26rem
  .about__image-bg
    display none
.about__image--rules
  background #f39c12
.about__image--help
  background green-color
.about__description
  margin auto
  margin-top 2rem
  font-size 1.3rem
  line-height 2rem
  padding 0 2rem
  max-width 40rem
  color #FFF
.about__bottom-link
  text-align center
  font-size 2.4rem
  color #FFF
  font-weight bold
  margin-top 6rem
  display block


.pane-names--about
  .pane-names__item
    padding-top 1.5rem
    padding-bottom 1.5rem
