.server-facts
  position absolute
  left 0
  bottom 10rem
  overflow auto
  z-index 10000
  background rgba(0,0,0,0.8)
  .server-facts__handle
    padding 0.4rem
    color #FFF
  li
    display none
    background #FFF
    margin 1.5rem
    font-weight bold
    padding 1rem
    font-size 2rem
  dl
    font-weight normal
    overflow hidden
  dt
  dd
    float left
    font-size 1.4rem
  dt
    clear both
    font-weight bold
    margin-right 1rem
.server-facts--show
  li
    display block
