#splash
  height 100%
  .login-form
    display none
#splash__inner
  max-width 800px
  margin auto
  background #17ADC6


.splash-top
  text-align center
  padding-top 40px
.splash-mark
  max-width 200px
  display block
  margin auto
.splash-headline
  font-size 26px
  color #FFF
  display inline-block
  padding 20px 0 0 0

  >div
    font-size 40px
    font-weight bold


.splash-middle
  padding 10rem 0
  text-align center
.splash-download
  max-width 200px
  margin 0 20px 20px
.splash-download--google
  width 116px
  opacity 0.4


.social-media-link
  font-size 26px
  color #FFF
  margin 0 20px
  display block
