.login
  position absolute
  top 50%
  left 0
  right 0
  margin-top -20rem
.login-logo
  display block
  width 30%
  max-width 20rem
  margin auto
  min-width 18rem
.login-form
  width 80%
  max-width 30rem
  margin auto
  padding-top 3rem
  overflow hidden
.login-form__input
  width 100%
  border none
  display block
  padding 0.8rem 1.5rem
  font-size 1.8rem
.login-form__inputs
  box-shadow 0 0 2px rgba(0,0,0,0.5)
  overflow hidden
  border-radius 3px
  input
    &:focus
      background #F6F6F6
.login-form__input--one
  border-bottom 1px solid #DDD
.login-form__sign-up
.login-form__log-in
  margin 1.5rem auto 2rem auto
  display block
  background orange
  color #FFF
  width 48%
  border-radius 3px
  padding 0.8rem 0
  -webkit-appearance none
  border none
  box-shadow 0 0 2px rgba(0,0,0,0.5)
  font-weight bold
  float left
  text-align center
  cursor pointer
.login-form__sign-up
  margin-right 4%


.invite-buttons
  text-align center
  padding 2rem 0


.logout
  cursor pointer

.user-image
  width 5rem
  height 5rem
  color #FFF
  font-weight bold
  text-align center
  border-radius 50%
  padding-top 1.4rem
  font-size 1.6rem
  cursor default
