<template name='home'>
  <div class='page-header view-header'>
    {{> leftMenuToggle}}
    <div class='page-header__center'>Welcome to Ralph</div>
  </div>
  <div class='view__inner'>
    <div class='about'>
      <div class='about__image about__image--smaller'>
        <img src='/images/logo-mark-medium.png' />
        <div class='about__image-bg'></div>
      </div>
      <div class='about__description'>
        Select a channel on the right to get started.
        <br /><br />
        Want to create your own channel? Just click the + button in the top right.
        <br /><br />
        Check out your local channel in the left menu.
      </div>
    </div>
  </div>
</template>
